@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
       --background-black: #0A0908;
       --background-darkBlue: #1a2a3d;
       --logoColor: #5170ab;
       --background-2: #2e3343;
}

body{
       color: #d8e5fb;
}

html, body{
       overflow-x: hidden;
}