.hero{
    width: 100%;
    background-color: var(--background-black);
    text-align: center;
    padding-top: 7.5rem; 
    display: flex;
    flex-direction: column; 
}

.hero h1{
     font-size: 2rem;
     color: var(--logoColor);
}

.hero p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.social_icons{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 11px 27px;
    display: inline-flex;
    gap: 3.125rem;
    justify-content: space-between;
    align-items: center;
    background-color: #678cd7;
    border-radius: 3.25rem ;
}   

.image_sec{
    width: 100%;
    background-color: var(--background-darkBlue);
    padding: 8px 145px;
    display: flex;
    gap: 145px;
    justify-content: space-between;
}    

@media(max-width:768px){
    .image_sec{
        padding: 8px 29px;
        gap: 29px;
    }
}

@media(max-width:390px){
    .hero h1{
        font-size: 20px;
   }
    .image_sec{
        padding: 8px 29px;
        gap: 29px;
    }
    .hero p{
        font-size: 15px;        
    }
    .social_icons{
        gap: 40px;
    }   
    .image_sec{
        padding: 8px 20px;
        gap: 20px;
    }

}